{% extends "::base.html.twig" %}

{% block title %}AppBundle:Tasks:Tasks{% endblock %}

{% block body %}

<div class="well">
{% if app.session.flashBag.has('success') %}
     <div class="alert alert-success">
         {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
         {% endfor %}
     </div>
 {% endif %}
   {{ form_start(form, {'attr': {'class': 'form-horizontal'}, 'action': path('save_action'), 'method': 'POST'}) }}
          <div class="form-group">

              {{ form_label(form.task_nom, "Nom Task", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}


              <div class="col-sm-4">

              {{ form_widget(form.task_nom, {'attr': {'class': 'form-control'}}) }}
              {{ form_errors(form.task_nom) }}

              </div>

         </div>
         <div class="form-group">

              {{ form_label(form.url, "Url", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

              <div class="col-sm-4">

               {{ form_errors(form.url) }}
               {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
            
              </div>

         </div>
         <div class="form-group">

              {{ form_label(form.description, "Description", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

              <div class="col-sm-4">

              {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
              {{ form_errors(form.description) }}

              </div>

         </div>
         <div class="form-group">

              {{ form_label(form.description, "Active Task", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

              <div class="col-sm-4">

              {{ form_widget(form.task_active) }}

              {{ form_errors(form.task_active) }}

              </div>

         </div>
         <div class="form-group" >

              <div class="col-sm-4" style="margin-left: 50px;">

              {{ form_widget(form.save, {'attr': {'class': 'btn btn-success', 'style':'margin-left: 240px;'}}) }}

              </div>

         </div>

   {{ form_end(form) }}
</div>

{% endblock %}